.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
errores.txt
data/Al amanecer.txt
data/Caminante.txt
data/Canción del pirata.txt
data/Como Lovecraft.txt
data/Como una ola.txt
data/Despacito.txt
data/Disfraz de tigre.txt
data/macarena.txt
data/Maquillaje.txt
data/Mi gran noche.txt
data/Ni tu ni nadie.txt
data/Ni una sola palabra.txt
data/Torero.txt
data/Tú , lo que tienes que hacer.txt
data/Yo quiero verte danzar.txt
